body {
    background-image: url("1484592146422_cuisine_chef.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

h1 {
    font-family: 'Calibri Light';
    font-size: 80px;
    margin-top: 25%;
    text-align: center;
    color: black;
}

p {
    font-family: 'Calibri Light';
    font-size: 60px;
    text-align: center;
    color: black;
}
